@font-face{
    font-family: 'valentine' ;
    src:url("valentine.ttf") format("truetype");
}
@font-face{
    font-family: 'Poppins';
    src:url("Poppins-Regular.woff") format("woff");
    font-style: normal
}

@keyframes riseFromBottom {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes bop {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(2deg); }
    100% { transform: translateY(0) rotate(0deg); }
}


font-face{
    font-family: 'Poppins';
    src:url("PoppinsMediumItalic.woff") format("woff");
    font-style: italic;
}

font-face{
    font-family: 'Poppins';
    src:url("Poppins-Medium.woff") format("woff");
    font-style: medium
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(to bottom, #fef3c7, #fca5a5, #ef4444, #9f1239, #1f2937);
    
}

h1 {
    font-family:"Valentine", sans-serif;
    font-size: 500%;
    color: #fff;
    -webkit-text-stroke: 1px #9f1239;
    text-shadow: 0 0 15px rgba(255, 105, 180, 0.7);
}

.innerContainer {

    color:#fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border: 3px solid #ffe5f6;
    border-radius: 20px;
    background: #9f1239;
    padding: 30px;
    box-shadow: 0 15px 40px rgba(48, 16, 16, 0.6);
    background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 2px);
    background-size: 20px 20px;
}

#counter {
    font-size: 2rem;
    font-weight: bold;
    color: white;

    margin-top: 10px
}

#subtext {
    color:white;
    margin-bottom:50px;
    font-family: "Poppins", sans-serif;
    font-style: italic
}

.otter{
    width: 300px;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    animation:
        riseFromBottom 1.5s ease-out forwards,
        bop 1.25s ease-in-out 1.5s infinite;}

.otter.flip {
    transform: rotateY(180deg);
}
